/venv-monitor/*
/venv
.idea
__pycache__/
*.log
*.csv
*.dat
*.raw
*.json
static/
/project/.env
lwf/migrations/
/gcnet/migrations/
/gcnet/csv_output/
/gcnet/csv_logs/
/gcnet/temporary/
/data/*
/generic/migrations/
