.pdm.toml
.pdm-python
pdm.toml
__pypackages__/
.idea
.vscode
__pycache__/
*.log
*.csv
*.dat
*.raw
*.json
monitoring-api/project/.env
monitoring-api/lwf/migrations/
monitoring-api/gcnet/migrations/
monitoring-api/gcnet/csv_output/
monitoring-api/gcnet/csv_logs/
monitoring-api/gcnet/temporary/
monitoring-api/data/*
monitoring-api/generic/migrations/
