asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
configparser==5.0.0
DateTime==4.3
Django==3.1
django-environ==0.4.5
django-postgres-copy==2.4.2
djangorestframework==3.11.1
environ==1.0
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
numpy==1.19.1
pandas==1.1.1
pathlib==1.0.1
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
waitress==1.4.4
zope.interface==5.1.0
pytest
