<!DOCTYPE html>
<html lang="en">

<head>
    <title id="page_title"></title>
</head>

<style>
    body {font-family: Helvetica, serif;}
    body {background-color: #F3F3F3}
    body {padding-left: 30px;}
    h1   {color: darkblue;
          font-weight: bolder;}
    h2   {font-weight: bolder;
          color: darkgreen;
          font-size: xx-large;}
    h3   {color: darkgreen;
          font-size: x-large;}
    h4   {font-size: large;}
    hr   {color: lightblue;}
    li   {font-size: small;}
    li::marker   {color: black;}
    p {line-height: 1.4;}

    a {text-decoration: none;
       color: darkblue;
    }
    a:hover {
        background-color: lightgray;
    }
    a:active {
        background-color: darkgray;
    }

    table {border: solid thin;
           border-collapse: collapse;}
    table th  {border: solid medium dimgray;
               padding: 0.5rem 2rem;}
    table td {border: solid thin lightslategray;
                  padding: 0.5rem 2rem;}
    table td {font-size: smaller;}
    .special_notes {
        border: medium solid darkred;
        padding: 0.25rem 1rem;}

    .details_link {font-size: medium;}
    .url    {color: saddlebrown;}
    .output {color: darkgreen;}
    .output {font-family: monospace, serif; font-size: small;}

    .bullet {list-style-type: circle;}
    .model {background-color: #ffe6c9}
    {#.model_light  {background-color:lightyellow;}#}
    .timestamp_meaning {background-color: #deffed;}
    {#.timestamp_meaning_light {background-color:lightgreen;}#}
    .nodata {background-color: #ffdadd;}
    {#.nodata_light  {background-color: #F5D4DA;}#}
    .start_end {background-color: #bdfefe;}
    {#.start_end_light {background-color: lightblue;}#}
    .parameter  {background-color: #d6cddc;}
    {#.parameter_light  {background-color: #DAC5F7}#}

    .main_content {
    margin-left: 16%; /* 0.5% more than the width of the sidebar */
    padding: 0 10px;
    }

    #toc_container {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 15.5%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        background: #f9f9f9 none repeat scroll 0 0;
        border: 1px solid #aaa;
        display: table;
        font-size: 95%;
        margin-bottom: 1em;
        padding: 5px;
    }

    #toc_container li, #toc_container ul, #toc_container ul li {
        list-style: outside none none !important;
    }

    #toc_container ul {
        margin-left: 0;
    }


     #toc_container li {
        font-size: large;
        margin-bottom: 0.5em;
        {#margin-right: 0.5em;#}
    }

     #toc_container a {
         color: darkgreen;
         margin: 1em 0;
         text-decoration: none;
     }

     #toc_container a:hover {
         background-color: lightgray;
     }

     #toc_container a:active {
         background-color: darkgray;
     }


    .header {
    {#display: grid;#}
    {#grid-template-columns: 1fr 4fr;#}
    }

    .intro {
    {#margin-left: 18%; /* 2% more than the width of the sidebar */#}
    {#padding: 0 10px;#}
    }

    .honorableMention {
        padding: 30px 0;
    }

</style>

<body>

    <div class="header">

        <div id="toc_container">
            <ul class="toc_list">

                <li style="font-size: x-large; margin-top: 1em;"><a href="#Introduction"><b>Introduction</b></a>
                <br>
                <br>

                <li style="font-size: x-large; margin-bottom: 0.5em;"><a href="#API_Examples"><b>API Endpoints</b></a>
                <br>
                        <li><a href="#details_stations">1. Stations</a></li>
                        <li><a href="#details_nead">2. NEAD</a></li>
                        <li><a href="#details_csv">3. CSV</a></li>
                        <li><a href="#details_json">4. JSON</a></li>
                        <li><a href="#details_json_daily_summary">5. Daily JSON</a></li>
                        <li><a href="#details_csv_daily_summary">6. Daily CSV</a></li>
                        <li><a href="#details_metadata">7. Metadata</a></li>
                <br>
                <br>

                <li style="font-size: x-large"><a href="#parameter_list"><b>Parameter List</b></a></li>
                <br>

            </ul>
        </div>

        <div class="main_content" id="Introduction">

            <div style="text-align: center;">
                <h1 id="api_title"></h1>
                <br>
            </div>

            <div class="intro">
                <p id="intro_text"></p>

                <div class="honorableMention">
                    <i>
                        <h4 style="text-align: center; color: darkgreen"><b>In Honor of Prof. Dr. Konrad Steffen</b></h4>
                        <p id="honorary_text"></p>
                    </i>
                </div>

                <div class="special_notes">
                    <p><span class="detail_link"><b><u>Special Notes</u></b>
                            <ul>
                                <li><i>Warning:</i> API may change at any time. Please refer to this website for updates to the API.
                                </li>
                            </ul>
                            <ul>
                                <li><i>Warning:</i> Recent data have not been thoroughly quality checked.</li>
                            </ul>
                            <ul>
                                <li>Timestamps are in UTC (Universal Time Coordinated).</li>
                            </ul>
                            <ul>
                                <li>Downloading all records for a station can take a long time.</li>
                            </ul>
                        </span></p>
                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <br>


    <div class="main_content">

        <div style="text-align: center;">
            <hr>
            <h2 id="API_Examples">API Endpoints</h2>
            <br>
        </div>

        <h3 id="details_stations">1. Return List of Stations</h3>
        <h4><ul>URL: <a onclick="window.open(urlModels)"><span class="url_models"></span></a></ul></h4>
        <p><ul>Returns list of stations referred to as 'model' in other endpoints.</ul>
           <ul>Sample Output:</ul>
               <ul><ul><span class="output">
               [
                <ul>"gits",
                <br>"humboldt",
                <br>"petermann",
                <br>"tunu_n",
                <br>"swisscamp_10m_tower",
                <br>"swisscamp",
                <br>"crawfordpoint",
                <br>"nasa_u",
                <br>"summit",
                <br>"dye2",
                <br>"jar1",
                <br>"saddle",
                <br>"southdome",
                <br>"nasa_east",
                <br>"nasa_southeast",
                <br>"neem",
                <br>"east_grip"</ul>
                ]
           </span></ul></ul>
        <br>
        <br>

        <h3 id="details_nead">2. Download NEAD</h3>
        <p><span class="details_link"><a href="https://www.doi.org/10.16904/envidat.187" >Click here for information about the NEAD format</a></span></p>
        <h4><ul><span class="url">URL template with time range:</span> https://www.envidat.ch/data-api/<span class="app_name"></span>/nead/<span class="model">model</span>/<span class="timestamp_meaning">timestamp_meaning</span>/<span class="nodata">nodata</span>/<span class="start_end">start</span>/<span class="start_end">end/</span></ul></h4>
         <h4><ul>Example with time range, timestamp meaning 'end' and no data value '' (empty string): <a onclick="window.open(urlNEAD)">
             <br><span id="url_nead"></span></a></ul></h4>
        <h4><ul><span class="url">URL template returning all records:</span> https://www.envidat.ch/data-api/<span class="app_name"></span>/nead/<span class="model">model</span>/<span class="timestamp_meaning">timestamp_meaning</span>/<span class="nodata">nodata/</span></ul></h4>
        <h4><ul>Example returning all records, timestamp meaning 'end' and no data value '' (empty string): <a onclick="window.open(urlNEADAll)">
            <br><span id="url_nead_all"></span></a></ul></h4>
        <p><ul><ul><span class="model">model</span> should correspond to a model name listed at <a onclick="window.open(urlModels)"><span class="url_models"></span></a>, for example <span class="model_name"></span></ul></ul>
           <ul><ul><span class="timestamp_meaning">timestamp_meaning</span> should be <span class="timestamp_meaning_light">end</span> or <span class="timestamp_meaning_light">beginning</span></ul></ul>
               <ul><ul><ul><li><span class="timestamp_meaning_light">end</span> means that timestamps are at the "end" of a hour long averaging period</li></ul></ul></ul>
               <ul><ul><ul><li><span class="timestamp_meaning_light">beginning</span> means that timestamps are at the "beginning" of a hour long averaging period</li></ul></ul></ul>
           <ul><ul><span class="nodata">nodata</span> represents "null" values in the database</ul></ul>
               <ul><ul><ul><li><span class="nodata_light"><span class="nodata_name"></span></span> means that all "null" values will be "<span class="nodata_name"></span>" in the NEAD file</li></ul></ul></ul>
               <ul><ul><ul><li><span class="nodata_light">empty</span> means that all "null" values will be "" (empty strings) in the NEAD file</li></ul></ul></ul>
           <ul><ul><span class="start_end">start</span> is the start date of the dataset</ul></ul>
           <ul><ul><span class="start_end">end</span> is the end date of the dataset (exclusive)</ul></ul>
               <ul><ul><ul><li><span class="start_end_light">start</span> and <span class="start_end_light">end</span> dates must be in in ISO timestamp date format: YYYY-MM-DD ('2019-12-20')</li></ul></ul></ul>
               <ul><ul><ul><li><span class="start_end_light">start</span> date must precede <span class="start_end_light">end</span> date</li></ul></ul></ul>
        <br>
        <br>

        <h3 id="details_csv">3. Download CSV</h3>
        <h4><ul><span class="url">URL template:</span> https://www.envidat.ch/data-api/<span class="app_name"></span>/csv/<span class="model">model</span>/<span class="parameter">parameter</span>/<span class="timestamp_meaning">timestamp_meaning</span>/<span class="nodata">nodata</span>/<span class="start_end">start</span>/<span class="start_end">end</span>/</ul></h4>
            <h4><ul>Example with timestamp meaning 'end' and no data value '<span class="nodata_name"></span>': <a onclick="window.open(urlCSV)">
            <br><span id="url_csv"></span></a></ul></h4>
            <h4><ul>Example returning several parameters with timestamp meaning 'end' and no data value '<span class="nodata_name"></span>': <a onclick="window.open(urlCSVSeveral)">
            <br><span id="url_csv_several"></span></a></ul></h4>
        <p><ul><ul><span class="model">model</span> should correspond to a model name listed at <a onclick="window.open(urlModels)"><span class="url_models"></span></a>, for example <span class="model_name"></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> should be a type of measurement, for example <span class="parameter_light"><span class="parameter_name"></span></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> can also be several types of measurements separated by commas, for example <span class="parameter_light"><span class="parameter_several"></span></span></ul></ul>
                 <ul><ul><ul><li><a href="#parameter_list" target="_blank">Click here for list of parameters</a></li></ul></ul></ul>
                 <ul><ul><ul><li><span class="parameter_light">multiple</span> means that all parameters will be included in the CSV</li></ul></ul></ul>
            <ul><ul><span class="timestamp_meaning">timestamp_meaning</span> should be <span class="timestamp_meaning_light">end</span> or <span class="timestamp_meaning_light">beginning</span></ul></ul>
               <ul><ul><ul><li><span class="timestamp_meaning_light">end</span> means that timestamps are at the "end" of a hour long averaging period</li></ul></ul></ul>
               <ul><ul><ul><li><span class="timestamp_meaning_light">beginning</span> means that timestamps are at the "beginning" of a hour long averaging period</li></ul></ul></ul>
           <ul><ul><span class="nodata">nodata</span> represents "null" values in the database</ul></ul>
        <ul><ul><ul><li><span class="nodata_light"><span class="nodata_name"></span></span> means that all "null" values will be "<span class="nodata_name"></span>" in the CSV file</li></ul></ul></ul>
               <ul><ul><ul><li><span class="nodata_light">empty</span> means that all "null" values will be "" (empty strings) in the CSV file</li></ul></ul></ul>
           <ul><ul><span class="start_end">start</span> is the start date of the dataset</ul></ul>
           <ul><ul><span class="start_end">end</span> is the end date of the dataset (exclusive)</ul></ul>
               <ul><ul><ul><li><span class="start_end_light">start</span> and <span class="start_end_light">end</span> dates must be in in ISO timestamp date format: YYYY-MM-DD ('2019-12-20')</li></ul></ul></ul>
               <ul><ul><ul><li><span class="start_end_light">start</span> date must precede <span class="start_end_light">end</span> date</li></ul></ul></ul>
        <br>
        <br>

        <h3 id="details_json">4. Return JSON Data</h3>
        <h4><ul><span class="url">URL template:</span> https://www.envidat.ch/data-api/<span class="app_name"></span>/json/<span class="model">model</span>/<span class="parameter">parameter</span>/<span class="start_end">start</span>/<span class="start_end">end</span>/</ul></h4>
        <h4><ul>Example: <a onclick="window.open(urlJSON)">
            <span id="url_json"></span></a></ul></h4>
        <h4><ul>Example returning several parameters:
            <br><a onclick="window.open(urlJSONSeveral)"><span id="url_json_several"></span></a></ul></h4>
        <h4><ul>Example returning multiple parameters: <a href="https://www.envidat.ch/data-api/gcnet/json/swisscamp/multiple/2020-11-04T17:00:00/2020-11-10T00:00:00/" target="_blank">
            <br>https://www.envidat.ch/data-api/<span class="app_name"></span>/json/<span class="model_name"></span>/multiple/2020-11-04T17:00:00/2020-11-10T00:00:00/</a></ul></h4>
        <p><ul><ul><span class="model">model</span> should correspond to a model name listed at <a onclick="window.open(urlModels)"><span class="url_models"></span></a>, for example <span class="model_name"></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> should be a type of measurement, for example <span class="parameter_light"><span class="parameter_name"></span></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> can also be several types of measurements separated by commas, for example <span class="parameter_light"><span class="parameter_several"></span></span></ul></ul>
                 <ul><ul><ul><li><a href="#parameter_list" target="_blank">Click here for list of parameters</a></li></ul></ul></ul>
            <ul><ul><ul><li><span class="parameter_light">multiple</span> means that all parameters will be included in the returned JSON data</li></ul></ul></ul>
            <ul><ul><span class="start_end">start</span> is the start date and time of the dataset</ul></ul>
            <ul><ul><span class="start_end">end</span> is the end date and time of the dataset</ul></ul>
                 <ul><ul><ul><li><span class="start_end_light">start</span> date must precede <span class="start_end_light">end</span> date</li></ul></ul></ul>
                 <ul><ul><ul><li><span class="start_end_light">start</span> and <span class="start_end_light">end</span> must be in in ISO timestamp date and time format: YYYY-MM-DDTHH:MM:SS ('2020-10-20T17:00:00)</li></ul></ul></ul>
        <br>
        <br>

        <h3 id="details_json_daily_summary">5. Return Daily Summary JSON Data</h3>
        <h4><ul><span class="url">URL template:</span> https://www.envidat.ch/data-api/<span class="app_name"></span>/summary/daily/json/<span class="model">model</span>/<span class="parameter">parameter</span>/<span class="start_end">start</span>/<span class="start_end">end</span>/</ul></h4>
        <h4><ul>Example: <a onclick="window.open(urlDailyJSON)">
            <span id="url_daily_json"></span></a></ul></h4>
        <h4><ul>Example returning several parameters: <a onclick="window.open(urlDailyJSONSeveral)">
            <br><span id="url_daily_json_several"></span></a></ul></h4>
        <p><ul><ul><span class="model">model</span> should correspond to a model name listed at <a onclick="window.open(urlModels)"><span class="url_models"></span></a>, for example <span class="model_name"></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> should be a type of measurement, for example <span class="parameter_light"><span class="parameter_name"></span></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> can also be several types of measurements separated by commas, for example <span class="parameter_light"><span class="parameter_several"></span></span></ul></ul>
                 <ul><ul><ul><li><a href="#parameter_list" target="_blank">Click here for list of parameters</a></li></ul></ul></ul>
            <ul><ul><span class="start_end">start</span> is the start date of the dataset</ul></ul>
            <ul><ul><span class="start_end">end</span> is the end date of the dataset (exclusive)</ul></ul>
               <ul><ul><ul><li><span class="start_end_light">start</span> and <span class="start_end_light">end</span> dates must be in in ISO timestamp date format: YYYY-MM-DD ('2019-12-20')</li></ul></ul></ul>
               <ul><ul><ul><li><span class="start_end_light">start</span> date must precede <span class="start_end_light">end</span> date</li></ul></ul></ul>
            <ul><ul>Parameters are aggregated daily for the following derived values: minimum ('_min'), maximum ('_max'), and average ('_avg)</ul></ul>
            <ul><ul>'day' values are in "year-"day number" format</ul></ul>
            <ul><ul>'timestamp_first' and 'timestamp_last' are the range of timestamps (inclusive) used for calculating the daily aggregated values</ul></ul>
            <ul>Sample Output:</ul>
                   <ul><ul><span class="output">
                   [
                        <ul>{
                            <ul>day: "2020-308",
                            <br>timestamp_first: "2020-11-03T00:00:00Z",
                            <br>timestamp_last: "2020-11-03T23:00:00Z",
                            <br><span class="parameter_name"></span>_min: -21.93,
                            <br><span class="parameter_name"></span>_max: -3.15,
                            <br><span class="parameter_name"></span>_avg: -12.93
                            </ul>},
                            <br>{
                            <ul>day: "2020-309",
                            <br>timestamp_first: "2020-11-04T00:00:00Z",
                            <br>timestamp_last: "2020-11-04T23:00:00Z",
                            <br><span class="parameter_name"></span>_min: -10.47,
                            <br><span class="parameter_name"></span>_max: -4.15,
                            <br><span class="parameter_name"></span>_avg: -7.59
                            </ul>},
                            <br>{
                            <ul>day: "2020-310",
                            <br>timestamp_first: "2020-11-05T00:00:00Z",
                            <br>timestamp_last: "2020-11-05T23:00:00Z",
                            <br><span class="parameter_name"></span>_min: -20.21,
                            <br><span class="parameter_name"></span>_max: -10.65,
                            <br><span class="parameter_name"></span>_avg: -14.39
                            </ul>}</ul>
                    ]
               </span></ul></ul>
        <br>
        <br>

        <h3 id="details_csv_daily_summary">6. Download Daily Summary CSV</h3>
        <h4><ul><span class="url">URL template:</span> https://www.envidat.ch/data-api/<span class="app_name"></span>/summary/daily/csv/<span class="model">model</span>/<span class="parameter">parameter</span>/<span class="timestamp_meaning">timestamp_meaning</span>/<span class="nodata">nodata</span>/<span class="start_end">start</span>/<span class="start_end">end</span>/</ul></h4>
        <h4><ul>Example with timestamp meaning 'end' and no data value '' (empty string): <a onclick="window.open(urlDailyCSV)">
            <br><span id="url_daily_csv"></span></a></ul></h4>
        <h4><ul>Example returning several parameters with timestamp meaning 'end' and no data value '' (empty string): <a onclick="window.open(urlDailyCSVSeveral)">
            <br><span id="url_daily_csv_several"></span></a></ul></h4>
        <p><ul><ul><span class="model">model</span> should correspond to a model name listed at <a onclick="window.open(urlModels)"><span class="url_models"></span></a>, for example <span class="model_name"></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> should be a type of measurement, for example <span class="parameter_light"><span class="parameter_name"></span></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> can also be several types of measurements separated by commas, for example <span class="parameter_light"><span class="parameter_several"></span></span></ul></ul>
                 <ul><ul><ul><li><a href="#parameter_list" target="_blank">Click here for list of parameters</a></li></ul></ul></ul>
            <ul><ul><span class="timestamp_meaning">timestamp_meaning</span> should be <span class="timestamp_meaning_light">end</span> or <span class="timestamp_meaning_light">beginning</span></ul></ul>
               <ul><ul><ul><li><span class="timestamp_meaning_light">end</span> means that timestamps are at the "end" of a hour long averaging period</li></ul></ul></ul>
               <ul><ul><ul><li><span class="timestamp_meaning_light">beginning</span> means that timestamps are at the "beginning" of a hour long averaging period</li></ul></ul></ul>
           <ul><ul><span class="nodata">nodata</span> represents "null" values in the database</ul></ul>
               <ul><ul><ul><li><span class="nodata_light"><span class="nodata_name"></span></span> means that all "null" values will be "<span class="nodata_name"></span>" in the CSV file</li></ul></ul></ul>
               <ul><ul><ul><li><span class="nodata_light">empty</span> means that all "null" values will be "" (empty strings) in the CSV file</li></ul></ul></ul>
           <ul><ul><span class="start_end">start</span> is the start date of the dataset</ul></ul>
               <ul><ul><span class="start_end">end</span> is the end date of the dataset (exclusive)</ul></ul>
               <ul><ul><ul><li><span class="start_end_light">start</span> and <span class="start_end_light">end</span> dates must be in in ISO timestamp date format: YYYY-MM-DD ('2019-12-20')</li></ul></ul></ul>
               <ul><ul><ul><li><span class="start_end_light">start</span> date must precede <span class="start_end_light">end</span> date</li></ul></ul></ul>
           <ul><ul>Parameters are aggregated daily for the following derived values: minimum ('_min'), maximum ('_max'), and average ('_avg)</ul></ul>
            <ul><ul>'day' values are in "year-"day number" format</ul></ul>
            <ul><ul>'timestamp_first' and 'timestamp_last' are the range of timestamps (inclusive) used for calculating the daily aggregated values</ul></ul>
        <br>
        <br>

        <h3 id="details_metadata">7. Metadata</h3>
        <p><ul>Returns metadata for each station including earliest timestamps.</ul>
        <p><ul>Also returns both earliest and latest timestamps for specified parameters in ISO and UNIX (millisecond) formats.</ul>
        <h4><ul><span class="url">URL template:</span> https://www.envidat.ch/data-api/<span class="app_name"></span>/metadata/<span class="model">model</span>/<span class="parameter">parameter</span>/</ul></h4>
          <h4><ul>Example: <a onclick="window.open(urlMetadata)">
            <span id="url_metadata"></span></a></ul></h4>
        <h4><ul>Example returning several parameters: <a onclick="window.open(urlMetadataSeveral)">
            <br><span id="url_metadata_several"></span></a></ul></h4>
        <h4><ul>Example returning multiple parameters: <a href="http://www.envidat.ch/data-api/gcnet/metadata/swisscamp/multiple/" target="_blank">
            <br>http://www.envidat.ch/data-api/<span class="app_name"></span>/metadata/<span class="model_name"></span>/multiple/</a></ul></h4>
        <p><ul><ul><span class="model">model</span> should correspond to a model name listed at <a onclick="window.open(urlModels)"><span class="url_models"></span></a>, for example <span class="model_name"></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> should be a type of measurement, for example <span class="parameter_light"><span class="parameter_name"></span></span></ul></ul>
            <ul><ul><span class="parameter">parameter</span> can also be several types of measurements separated by commas, for example <span class="parameter_light"><span class="parameter_several"></span></span></ul></ul>
                 <ul><ul><ul><li><a href="#parameter_list" target="_blank">Click here for list of parameters</a></li></ul></ul></ul>
            <ul><ul><ul><li><span class="parameter_light">multiple</span> means that all parameters and their aggregated values will be included in the returned JSON data</li></ul></ul></ul>
        <br>
        <br>

        <hr>
        <h3 id="parameter_list">Parameter List</h3>
           <table>
              <tr>
                  <th>Parameter</th>
                  <th>Name</th>
                  <th>Units</th>
              </tr>

               <tr>
                  <td>swin</td>
                  <td>Shortwave Incoming Radiation</td>
                  <td>W m<sup>-2</sup></td>
               </tr>

               <tr>
                  <td>swout</td>
                  <td>Shortwave Outgoing Radiation</td>
                  <td>W m<sup>-2</sup></td>
                </tr>

               <tr>
                  <td>netrad</td>
                  <td>Net Radiation</td>
                  <td>W m<sup>-2</sup></td>
               </tr>

               <tr>
                  <td>airtemp1</td>
                  <td>Thermocouple Air Temperature 1</td>
                  <td>&deg;C</td>
               </tr>

               <tr>
                  <td>airtemp2</td>
                  <td>Thermocouple Air Temperature 2</td>
                  <td>&deg;C</td>
               </tr>

               <tr>
                  <td>airtemp_cs500air1</td>
                  <td>CS500 Air Temperature 1</td>
                  <td>&deg;C</td>
               </tr>

               <tr>
                  <td>airtemp_cs500air2</td>
                  <td>CS500 Air Temperature 2</td>
                  <td>&deg;C</td>
               </tr>

               <tr>
                  <td>rh1</td>
                  <td>Relative Humidity 1</td>
                  <td>%</td>
               </tr>

               <tr>
                  <td>rh2</td>
                  <td>Relative Humidity 2</td>
                  <td>%</td>
               </tr>

               <tr>
                  <td>windspeed1</td>
                  <td>Wind Speed 1</td>
                 <td>m s<sup>-1</sup></td>
               </tr>

               <tr>
                  <td>windspeed2</td>
                  <td>Wind Speed 2</td>
                  <td>m s<sup>-1</sup></td>
               </tr>

               <tr>
                  <td>winddir1</td>
                  <td>Wind Direction 1</td>
                  <td>degrees</td>
               </tr>

               <tr>
                  <td>winddir2</td>
                  <td>Wind Direction 2</td>
                  <td>degrees</td>
               </tr>

               <tr>
                  <td>pressure</td>
                  <td>Atmospheric Pressure</td>
                  <td>mb</td>
               </tr>

               <tr>
                  <td>sh1</td>
                  <td>Snow Surface Distance 1</td>
                  <td>m</td>
               </tr>

               <tr>
                  <td>sh2</td>
                  <td>Snow Surface Distance 2</td>
                  <td>m</td>
               </tr>

               <tr>
                  <td>battvolt</td>
                  <td>Battery Voltage</td>
                  <td>V</td>
               </tr>

               <tr>
                  <td>swin_maximum</td>
                  <td>Shortwave Incoming Radiation Maximum</td>
                  <td>W m<sup>-2</sup></td>
               </tr>

               <tr>
                  <td>swin_stdev</td>
                  <td>Shortwave Incoming Radiation Standard Deviation</td>
                  <td>W m<sup>-2</sup></td>
               </tr>

               <tr>
                  <td>netrad_stdev</td>
                  <td>Net Radiation Standard Deviation</td>
                  <td>W m<sup>-2</sup></td>
               </tr>

               <tr>
                  <td>airtemp1_maximum</td>
                  <td>Thermocouple Air Temperature 1 Maximum</td>
                  <td>&deg;C</td>
               </tr>

               <tr>
                  <td>airtemp2_maximum</td>
                  <td>Thermocouple Air Temperature 2 Maximum</td>
                  <td>&deg;C</td>
               </tr>

               <tr>
                  <td>airtemp1_minimum</td>
                  <td>Thermocouple Air Temperature 1 Minimum</td>
                  <td>&deg;C</td>
               </tr>

               <tr>
                  <td>airtemp2_minimum</td>
                  <td>Thermocouple Air Temperature 2 Minimum</td>
                  <td>&deg;C</td>
               </tr>

               <tr>
                  <td>windspeed_u1_maximum</td>
                  <td>Wind Speed 1 Maximum</td>
                  <td>m s<sup>-1</sup></td>
               </tr>

               <tr>
                  <td>windspeed_u2_maximum</td>
                  <td>Wind Speed 2 Maximum</td>
                  <td>m s<sup>-1</sup></td>
               </tr>

               <tr>
                  <td>windspeed_u1_stdev</td>
                  <td>Wind Speed 1 Standard Deviation</td>
                  <td>m s<sup>-1</sup></td>
               </tr>

               <tr>
                  <td>windspeed_u2_stdev</td>
                  <td>Wind Speed 2 Standard Deviation</td>
                  <td>m s<sup>-1</sup></td>
               </tr>

               <tr>
                  <td>reftemp</td>
                  <td>Reference Temperature</td>
                  <td>&deg;C</td>
               </tr>


           </table>
    </div>


   <script>

       // ----------------------------- Template variables used once -------------------------------------------------

       let pageTitle = "GC-Net API";
       document.getElementById("page_title").innerHTML = pageTitle;

       let apiTitle = "GC-Net API Documentation";
       document.getElementById("api_title").innerHTML = apiTitle;

       let introText = "Greenland Climate Network (GC-Net) Automated Weather Stations (AWS) collect climate information on\n" +
           "                    Greenland's ice sheet. They are equipped with communication satellite transmitters that enable near real time\n" +
           "                    monitoring of weather conditions on the Greenland ice sheet. Transmission latency is typically 1-2 hours,\n" +
           "                    and occasionally as long as 48 hours. All times displayed are in UTC (Coordinated Universal Time).\n" +
           "                    Hourly average data are transmitted via a satellite link (GOES or ARGOS) throughout the year.\n" +
           "                    In addition, measurements are stored in solid state memory. The system is powered with two 100 Ah batteries,\n" +
           "                    charged by 10 W or 20 W solar panels. The satellite data-link is powered by two separate 100 Ah batteries\n" +
           "                    connected to a 20 W solar panel. This setup guarantees continuous data recordings and storage,\n" +
           "                    even in the case of satellite transmission failure.";
       document.getElementById("intro_text").innerHTML = introText;


       // ------------------------------- Function used to assign innerHTML of element arrays ------------------------

       function assignElements (elementsArray, elementString) {
           for (let i=0; i < elementsArray.length; i++) {
               elementsArray[i].innerHTML = elementString;
           }
       }


       // ------------------------------- Template variables used multiple times -------------------------------------

       let app = "gcnet";
       let appElements = document.querySelectorAll("span.app_name");
       assignElements(appElements, app);

       let model = "swisscamp";
       let modelElements = document.querySelectorAll("span.model_name");
       assignElements(modelElements, model);

       let nodata = "-999";
       let nodataElements = document.querySelectorAll("span.nodata_name");
       assignElements(nodataElements, nodata);

       let parameter = "airtemp1";
       let parameterElements = document.querySelectorAll("span.parameter_name");
       assignElements(parameterElements, parameter);

       let parameterSeveral = "airtemp1,airtemp2,swin,rh1";
       let parameterSeveralElements = document.querySelectorAll("span.parameter_several");
       assignElements(parameterSeveralElements, parameterSeveral);


        // ----------------------------- URL variables ---------------------------------------------------------------

       urlModels = `https://www.envidat.ch/data-api/${app}/models/`;
       let urlModelsElements = document.querySelectorAll("span.url_models");
       assignElements(urlModelsElements, urlModels);

       urlNEAD = `https://www.envidat.ch/data-api/${app}/nead/${model}/end/empty/2020-11-03/2020-11-06/`;
       document.getElementById("url_nead").innerHTML = urlNEAD;

       urlNEADAll = `https://www.envidat.ch/data-api/${app}/nead/${model}/end/empty/`;
       document.getElementById("url_nead_all").innerHTML = urlNEADAll;

       urlCSV = `https://www.envidat.ch/data-api/${app}/csv/${model}/${parameter}/end/-999/2020-11-04/2020-11-06/`;
       document.getElementById("url_csv").innerHTML = urlCSV;

       urlCSVSeveral = `https://www.envidat.ch/data-api/${app}/csv/${model}/${parameterSeveral}/end/-999/2020-11-04/2020-11-06/`;
       document.getElementById("url_csv_several").innerHTML = urlCSVSeveral;

       urlJSON = `https://www.envidat.ch/data-api/${app}/json/${model}/${parameter}/2020-11-04T17:00:00/2020-11-10T00:00:00/`;
       document.getElementById("url_json").innerHTML = urlJSON;

       urlJSONSeveral = `https://www.envidat.ch/data-api/${app}/json/${model}/${parameterSeveral}/2020-11-04T17:00:00/2020-11-10T00:00:00/`;
       document.getElementById("url_json_several").innerHTML = urlJSONSeveral;

       urlDailyJSON = `http://www.envidat.ch/data-api/${app}/summary/daily/json/${model}/${parameter}/2020-11-03/2020-11-06/`;
       document.getElementById("url_daily_json").innerHTML = urlDailyJSON;

       urlDailyJSONSeveral = `http://www.envidat.ch/data-api/${app}/summary/daily/json/${model}/${parameterSeveral}/2020-11-03/2020-11-06/`;
       document.getElementById("url_daily_json_several").innerHTML = urlDailyJSONSeveral;

       urlDailyCSV = `https://www.envidat.ch/data-api/${app}/summary/daily/csv/${model}/${parameter}/end/empty/2020-11-01/2020-11-06/`;
       document.getElementById("url_daily_csv").innerHTML = urlDailyCSV;

       urlDailyCSVSeveral = `https://www.envidat.ch/data-api/${app}/summary/daily/csv/${model}/${parameterSeveral}/end/empty/2020-11-01/2020-11-06/`;
       document.getElementById("url_daily_csv_several").innerHTML = urlDailyCSVSeveral;

       urlMetadata = `http://www.envidat.ch/data-api/${app}/metadata/${model}/${parameter}/`;
       document.getElementById("url_metadata").innerHTML = urlMetadata;

       urlMetadataSeveral = `http://www.envidat.ch/data-api/${app}/metadata/${model}/${parameterSeveral}/`;
       document.getElementById("url_metadata_several").innerHTML = urlMetadataSeveral;


       // ---------------------------------- GC-Net Specific -----------------------------------------------------------

       let honoraryText = "Prof. Dr. Konrad Steffen was the principal investigator of GC-Net and tragically died during a research\n" +
           "                            expedition in Greenland on August 8, 2020 in an accident. His dedication made GC-Net possible and he\n" +
           "                            encouraged the developers of this API to ensure that the application was robust to guarantee access to the\n" +
           "                            meteorological data. Prof. Dr. Steffen was a committed scientist and generous friend and is deeply missed.";
       document.getElementById("honorary_text").innerHTML = honoraryText;



   </script>

</body>

</html>
