<!DOCTYPE html>
<html lang="en">
<head>
    <title>GC-Net API</title>
</head>

<style>
    body {font-family: Helvetica, serif;}
    body {background-color: #F1F1F1}
    body {padding-left: 30px;}
    hr   {margin-right: 30px;}
    h1   {color: darkblue;}
    h2   {font-weight: 900}
    h3   {color: darkgreen;}
    h4   {font-size: medium}
    hr   {color: lightblue;}
    li   {font-size: small;}
    li::marker   {color: black;}
    .details_link {font-size: small;}
    .url    {color: saddlebrown;}
    .output {font-size: small;}
    .output {color: green;}
    .output {font-family: monospace, serif;}
    .model_light  {background-color:lightyellow;}
    .timestamp_meaning {background-color:#00FF00;}
    .timestamp_meaning_light {background-color:lightgreen;}
    .nodata {background-color:pink;}
    .nodata_light  {background-color: #F5D4DA;}
    .start_end {background-color:#00FEFE;}
    .start_end_light {background-color: lightblue;}
</style>

<body>
    <div style="text-align: center;">
        <h1>GC-Net API Documentation</h1>
        <hr>
        <h2>General Overview</h2>
        <br>
    </div>

    <p><span class="detail_link"><b>Special Notes: </b>
        <ul>Downloading ALL records for a station can take a long time.</ul>
        <ul>In this version values for 'swout_minimum' before 2020-11-05 are 'null' except for the station Swiss Camp. This will be corrected in a later version.</ul></span></p>
    <br>

    <h3>1. Return List of Stations</h3>
    <p><span class="details_link"><a href="#details_stations">(Click here for more detailed explanation)</a></span></p>
    <h4><ul>URL: <a href="https://www.envidat.ch/data-api/gcnet/models/" target="_blank">https://www.envidat.ch/data-api/gcnet/models/</a></ul></h4>
    <br>

    <h3>2. Download NEAD</h3>
    <p><span class="details_link"><a href="#details_nead">(Click here for more detailed explanation)</a></span></p>
    <h4><ul><span class="url">URL template with time range: https://www.envidat.ch/data-api/nead/model/timestamp_meaning/nodata/start/end/</span></ul></h4>
    <h4><ul>Example with time range, timestamp meaning 'end' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/2020-11-03/2020-11-06" target="_blank">
        https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/2020-11-03/2020-11-06</a></ul></h4>
    <h4><ul>Example with time range, timestamp meaning 'end' and no data value '-999': <a href="https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/-999/2020-11-03/2020-11-06" target="_blank">
        https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/-999/2020-11-03/2020-11-06</a></ul></h4>
    <h4><ul><span class="url">URL template returning all records: https://www.envidat.ch/data-api/gcnet/nead/model/timestamp_meaning/nodata/</span></ul></h4>
    <h4><ul>Example returning all records, timestamp meaning 'end' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/</a></ul></h4>
    <br>

    <h3>3. Download CSV</h3>
    <h4><ul><span class="url">URL template: https://www.envidat.ch/data-api/gcnet/csv/model/parameter/start/end/timestamp_meaning/nodata/</span></ul></h4>
    <h4><ul>Example with timestamp meaning 'end' and no data value '-999': <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/end/-999/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/end/-999/</a></ul></h4>
    <h4><ul>Example returning multiple parameters with timestamp meaning 'end' and no data value '-999': <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/multiple/2020-11-04/2020-11-06/end/-999/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/multiple/2020-11-04/2020-11-06/end/-999/</a> </ul></h4>
    <h4><ul>Example with timestamp meaning 'end' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/end/empty/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/end/empty/</a></ul></h4>
    <h4><ul>Example with timestamp meaning 'beginning' and no data value '-999': <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/beginning/-999/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/beginning/-999/</a></ul></h4>
    <h4><ul>Example with timestamp meaning 'beginning' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/beginning/empty/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/beginning/empty/</a></ul></h4>
    <br>

    <h3>4. Return JSON Data</h3>
    <h4><ul><span class="url">URL template: https://www.envidat.ch/data-api/gcnet/json/model/parameter/start/end/</span></ul></h4>
    <h4><ul>Example: <a href="https://www.envidat.ch/data-api/gcnet/json/swisscamp_01d/airtemp2/2020-11-04T17:00:00/2020-11-10T00:00:00/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/json/swisscamp_01d/airtemp2/2020-11-04T17:00:00/2020-11-10T00:00:00/</a></ul></h4>
    <h4><ul>Example returning multiple parameters: <a href="https://www.envidat.ch/data-api/gcnet/json/swisscamp_01d/multiple/2020-11-04T17:00:00/2020-11-10T00:00:00/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/json/swisscamp_01d/multiple/2020-11-04T17:00:00/2020-11-10T00:00:00/</a></ul></h4>
    <br>

    <h3>5. Return Daily Summary JSON Data</h3>
    <h4><ul><span class="url">URL template: https://www.envidat.ch/data-api/summary/daily/json/model/parameter/start/end/</span></ul></h4>
    <h4><ul>Example: <a href="http://www.envidat.ch/data-api/gcnet/summary/daily/json/swisscamp_01d/airtemp1/2020-11-03/2020-11-06/" target="_blank">
        http://www.envidat.ch/data-api/gcnet/summary/daily/json/swisscamp_01d/airtemp1/2020-11-03/2020-11-06/</a></ul></h4>
    <h4><ul>Example returning multiple parameters: <a href="http://www.envidat.ch/data-api/gcnet/summary/daily/json/swisscamp_01d/multiple/2020-11-03/2020-11-06/" target="_blank">
        http://www.envidat.ch/data-api/gcnet/summary/daily/json/swisscamp_01d/multiple/2020-11-03/2020-11-06/</a></ul></h4>
    <br>

    <h3>6. Download Daily Summary CSV</h3>
    <h4><ul><span class="url">URL template: https://www.envidat.ch/data-api/summary/daily/csv/model/parameter/start/end/timestamp_meaning/nodata/</span></ul></h4>
    <h4><ul>Example returning multiple parameters with timestamp meaning 'end' and no data value '-999': <a href="https://www.envidat.ch/data-api/gcnet/summary/daily/csv/swisscamp_01d/multiple/2020-11-01/2020-11-06/end/empty/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/summary/daily/csv/swisscamp_01d/multiple/2020-11-01/2020-11-06/end/empty/</a></ul></h4>
    <br>

    <div style="text-align: center;">
        <hr>
        <h2>Endpoints Explanation</h2>
        <br>
    </div>

    <h3 id="details_stations">1. Return List of Stations</h3>
    <h4><ul>URL: <a href="https://www.envidat.ch/data-api/gcnet/models/" target="_blank">https://www.envidat.ch/data-api/gcnet/models/</a></ul></h4>
    <p><ul>Returns list of stations referred to as 'model' in other endpoints.</ul>
       <ul>Sample Output:</ul>
           <ul><ul><span class="output">
           [
            <ul>"gits_04d",
            <br>"humboldt_05d",
            <br>"petermann_22d",
            <br>"tunu_n_07d",
            <br>"swisscamp_10m_tower_00d",
            <br>"swisscamp_01d",
            <br>"crawfordpoint_02d",
            <br>"nasa_u_03d",
            <br>"summit_06d",
            <br>"dye2_08d",
            <br>"jar1_09d",
            <br>"saddle_10d",
            <br>"southdome_11d",
            <br>"nasa_east_12d",
            <br>"nasa_southeast_15d",
            <br>"neem_23d",
            <br>"east_grip_24d"</ul>
            ]
       </span></ul></ul>
    <br>
    <br>

    <h3 id="details_nead">2. Download NEAD</h3>
    <h4><ul><span class="url">URL template with time range:</span> https://www.envidat.ch/data-api/nead/<mark>model</mark>/<span class="timestamp_meaning">timestamp_meaning</span>/<span class="nodata">nodata</span>/<span class="start_end">start</span>/<span class="start_end">end</span></ul></h4>
     <h4><ul>Example with time range, timestamp meaning 'end' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/2020-11-03/2020-11-06" target="_blank">
        https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/2020-11-03/2020-11-06</a></ul></h4>
    <p><ul><ul><mark>model</mark> should correspond to a GC-Net Station model name listed in the 'https://www.envidat.ch/data-api/gcnet/models/' endpoint, for example <span class="model_light">swisscamp_01d</span> or <span class="model_light">summit_06d</span></ul></ul>
       <ul><ul><span class="timestamp_meaning">timestamp_meaning</span> should be <span class="timestamp_meaning_light">end</span> or <span class="timestamp_meaning_light">beginning</span></ul></ul>
           <ul><ul><ul><li><span class="timestamp_meaning_light">end</span> means that timestamps are the "end" of a hour</li></ul></ul></ul>
           <ul><ul><ul><li><span class="timestamp_meaning_light">beginning</span> means that timestamps the "beginning" of a hour</li></ul></ul></ul>
       <ul><ul><span class="nodata">nodata</span> represents "null" values in the database</ul></ul>
           <ul><ul><ul><li><span class="nodata_light">-999</span> means that all "null" values will be "-999" in the NEAD file</li></ul></ul></ul>
           <ul><ul><ul><li><span class="nodata_light">empty</span> means that all "null" values will be "" (empty strings) in the NEAD file</li></ul></ul></ul>
       <ul><ul><span class="start_end">start</span> is the start date of the dataset</ul></ul>
       <ul><ul><span class="start_end">end</span> is the end date of the dataset (exclusive)</ul></ul>
           <ul><ul><ul><li><span class="start_end_light">start</span> and <span class="start_end_light">end</span> dates must be in in ISO timestamp date format: YYYY-MM-DD ('2019-12-04')</li></ul></ul></ul>
           <ul><ul><ul><li><span class="start_end_light">start</span> date must precede <span class="start_end_light">end</span> date</li></ul></ul></ul>
       <br>

    <h4><ul><span class="url">URL template returning all records:</span> https://www.envidat.ch/data-api/nead/<mark>model</mark>/<span class="timestamp_meaning">timestamp_meaning</span>/<span class="nodata">nodata/</span></ul></h4>
    <h4><ul>Example returning all records, timestamp meaning 'end' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/</a></ul></h4>


</body>

</html>

