<!DOCTYPE html>
<html lang="en">
<head>
    <title>GC-Net API</title>
</head>
<style>
    body {font-family: Helvetica, serif;}
    body {background-color: #F1F1F1}
    body {padding-left: 30px;}
    h1   {color: darkblue;}
    h2   {font-weight: 900}
    h3   {color: darkgreen;}
    hr   {color: lightblue;}
    hr   {margin-right: 30px;}
</style>
<body>
    <div style="text-align: center;">
        <h1>GC-Net API Documentation</h1>
        <hr>
        <h2>General Overview</h2>
        <br>
    </div>
{% block body_block %}
    <h3 >Return list of stations</h3>
    <h4><ul>URL: <a href="https://www.envidat.ch/data-api/gcnet/models/" target="_blank">https://www.envidat.ch/data-api/gcnet/models/</a></ul></h4>
    <br>

    <h3>Download NEAD Data</h3>
    <h4><ul>URL template with time range: https://www.envidat.ch/data-api/nead/model/timestamp_meaning/nodata/start/end/</ul></h4>
    <h4><ul>Example with time range, timestamp meaning 'end' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/2020-11-03/2020-11-06" target="_blank">
        https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/2020-11-03/2020-11-06</a></ul></h4>
    <h4><ul>Example with time range, timestamp meaning 'end' and no data value '-999': <a href="https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/-999/2020-11-03/2020-11-06" target="_blank">
        https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/-999/2020-11-03/2020-11-06</a></ul></h4>
    <h4><ul>URL template returning all records: https://www.envidat.ch/data-api/gcnet/nead/model/timestamp_meaning/nodata/ </ul></h4>
    <h4><ul>Example returning all records, timestamp meaning 'end' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/json/swisscamp_01d/multiple/2020-11-04T17:00:00/2020-11-10T00:00:00/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/nead/swisscamp_01d/end/empty/</a></ul></h4>
    <br>

    <h3>Download CSV Data</h3>
    <h4><ul>URL template: https://www.envidat.ch/data-api/gcnet/csv/model/parameter/start/end/timestamp_meaning/nodata/</ul></h4>
    <h4><ul>Example with timestamp meaning 'end' and no data value '-999': <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/end/-999/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/end/-999/</a></ul></h4>
    <h4><ul>Example returning multiple parameters with timestamp meaning 'end' and no data value '-999': <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/multiple/2020-11-04/2020-11-06/end/-999/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/multiple/2020-11-04/2020-11-06/end/-999/</a> </ul></h4>
    <h4><ul>Example with timestamp meaning 'end' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/end/empty/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/end/empty/</a></ul></h4>
    <h4><ul>Example with timestamp meaning 'beginning' and no data value '-999': <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/beginning/-999/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/beginning/-999/</a></ul></h4>
    <h4><ul>Example with timestamp meaning 'beginning' and no data value '' (empty string): <a href="https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/beginning/empty/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/csv/swisscamp_01d/airtemp1/2020-11-04/2020-11-06/beginning/empty/</a></ul></h4>
    <br>

    <h3>Return JSON Data</h3>
    <h4><ul>URL template: https://www.envidat.ch/data-api/gcnet/json/model/parameter/start/end/</ul></h4>
    <h4><ul>Example: <a href="https://www.envidat.ch/data-api/gcnet/json/swisscamp_01d/airtemp2/2020-11-04T17:00:00/2020-11-10T00:00:00/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/json/swisscamp_01d/airtemp2/2020-11-04T17:00:00/2020-11-10T00:00:00/</a></ul></h4>
    <h4><ul>Example returning multiple parameters: <a href="https://www.envidat.ch/data-api/gcnet/json/swisscamp_01d/multiple/2020-11-04T17:00:00/2020-11-10T00:00:00/" target="_blank">
        https://www.envidat.ch/data-api/gcnet/json/swisscamp_01d/multiple/2020-11-04T17:00:00/2020-11-10T00:00:00/</a></ul></h4>
    <br>

    <h3>Daily Summary JSON Data</h3>
    <h4><ul>URL template: https://www.envidat.ch/data-api/summary/daily/json/model/parameter/start/end/</ul></h4>
    <h4><ul>Example: <a href="http://www.envidat.ch/data-api/gcnet/summary/daily/json/swisscamp_01d/airtemp1/2020-11-03/2020-11-06/" target="_blank">
        http://www.envidat.ch/data-api/gcnet/summary/daily/json/swisscamp_01d/airtemp1/2020-11-03/2020-11-06/</a></ul></h4>
    <h4><ul>Example returning multiple parameters: <a href="http://www.envidat.ch/data-api/gcnet/summary/daily/json/swisscamp_01d/multiple/2020-11-03/2020-11-06/" target="_blank">
        http://www.envidat.ch/data-api/gcnet/summary/daily/json/swisscamp_01d/multiple/2020-11-03/2020-11-06/</a></ul></h4>
    <br>

{% endblock %}

</body>

</html>

