<!DOCTYPE html>
<html lang="en">

<head>
{#    <meta charset="UTF-8" http-equiv="refresh" content="5;url=https://www.envidat.ch/data-api/gcnet/">#}
    <title>404</title>
</head>

<body>
    <h1>404 Page Not Found</h1>
    <h3>GC-Net API Documentation website: <a href="https://www.envidat.ch/data-api/gcnet/">https://www.envidat.ch/data-api/gcnet/</a></h3>
    <h3>LWF API Documentation website: <a href="https://www.envidat.ch/data-api/lwf/">https://www.envidat.ch/data-api/lwf/</a></h3>


{#    <h2>Redirecting in 5 seconds to the Data-API documentation</h2>#}
{#    <p>If page does not redirect in 5 seconds please click this link: <a href="https://www.envidat.ch/data-api/gcnet/">https://www.envidat.ch/data-api/gcnet/</a></p>#}
{##}
{#    <div id="counter" hidden>5</div><script>#}
{#        setInterval(function() {#}
{#            var div = document.querySelector("#counter");#}
{#            var count = div.textContent * 1 - 1;#}
{#            div.textContent = count;#}
{#            if (count <= 0) {#}
{#                window.location.replace("https://www.envidat.ch/data-api/gcnet/");#}
{#            }#}
{#        }, 1000);#}
{#    </script>#}

</body>

</html>