<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404</title>
  </head>

  <body>
    <h1>404 Page Not Found</h1>
    <h3>
      Monitoring API endpoint docs:
      <a href="https://www.envidat.ch/data-api/docs/"
        >https://www.envidat.ch/data-api/docs/</a
      >
    </h3>
    <h3>
      GC-Net specific docs:
      <a href="https://www.envidat.ch/data-api/gcnet/"
        >https://www.envidat.ch/data-api/gcnet/</a
      >
    </h3>
    <h3>
      LWF specific docs:
      <a href="https://www.envidat.ch/data-api/lwf/"
        >https://www.envidat.ch/data-api/lwf/</a
      >
    </h3>
  </body>
</html>
